repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.4
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix, --select, I ]
    # Run the formatter.
    - id: ruff-format