name: Ruff Lint and Format

on: [push, pull_request]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Install Ruff
        run: pip install ruff==0.14.4
      - name: Run Ruff Check
        run: ruff check . --select I --output-format=github
      - name: Run Ruff Format Check
        run: ruff format . --check